.card {
    max-width: 800px;
    height: 400px;
    margin: 45px auto;
    background-color: white;
    
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.card .avatar {
    width: 100%;
    height: 100%;
}