{% extends "layout.njk" %}

{% block head %}
    <link rel="stylesheet" href="/styles/partials/instructor.css">
    <title>Instructor Register</title>
{% endblock head %}

{% block content %}
    <form class="card" action="/instructors" method="POST">
        <section class="avatar" style="background: url(https://source.unsplash.com/collection/3203326/500x500) no-repeat center center / cover"></section>
        <section class="details">
            <h3>Edit Instructor</h3>

            {% include "instructors/fields.njk" %}

        </section>
    </form>
{% endblock content %}

</body>
</html>